{
  "parser": "babel-eslint",
  "extends": [
    "react-app",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "jsx-a11y"
  ],
  "env": {
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    // don't force es6 functions to include space before paren
    "space-before-function-paren": 0,
    // allow specifying true explicitly for boolean props
    "react/jsx-boolean-value": 0
  }
}
