
# See https://help.github.com/ignore-files/ for more about ignoring files.
*.log*
# dependencies
node_modules

# builds
build
dist

# misc
.DS_Store
.env
.vscode

# cache
.cache
.eslintcache

# these cause more harm than good
# when working with contributors
package-lock.json
yarn.lock

# runtime
pids
*.pid
*.seed
*.pid.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
